form {
  display: flex;
  justify-content: center;
}

input {
  width: calc(100% - 50px);
  padding: 0 15px;
  height: 60px;
  font-size: 16pt;
  margin: 0 0 30px 0;
  border: 0;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

.search-gif {
  height: 60px;
  cursor: pointer;
}